@keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }

.top_cart{
    height: 400px;
    background-image: url(img/topcartbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &_content{
        margin-top: 127px;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;
        color: #FFFFFF;
    }
}

.cart{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &_name_box{
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &_item{
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    &_content{
        grid-column: span 8;
    }

    &_left{
        display: flex;
        gap: 32px;
    }

    &_info{
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &_name{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    &_text{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
    }

    &_price{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #050505;
    }

    &_link_box{
        display: flex;
        gap: 30px;
        
        &_left{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 210%;
            display: flex;
            align-items: center;
            text-align: center;
            text-decoration-line: underline;
            color: #000000;
        }
        &_left:hover{
            color: #888888;
            text-decoration-line: none ;
        }
        &_right{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 210%;
            display: flex;
            align-items: center;
            text-align: center;
            text-decoration-line: underline;
            color: #000000;
            transition: all .5s;
        }
        &_right:hover{
            color: #888888;
            text-decoration-line: none ;
        }
    }

    &_input{
        width: 71px;
        height: 51px;
        background-color: #F7F6F6;
        border-radius: 6px;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        outline: none;
        text-align: center;
    } 

    
    &_buttons{
        margin-top: 18px;
        display: flex;
        gap: 10px;
        
        &_left{
        width: 200px;
        height: 37px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #020202;
        transition: all .4s; 
        }
        &_left:hover{
            background-color: #000000;
            color: #FFFFFF;
        }
        
        &_right{
        width: 200px;
        height: 37px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #020202;
        transition: all .4s;
    }
    &_right:hover{
        background-color: #000000;
        color: #FFFFFF;
    }
}

&_form{
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;
        display: flex;
        flex-direction: column;
    }

    &_form_heading{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #000000;
        padding-top: 42px;
    }

    &_form_input_all{
        width: 288px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 41px;
        padding-top: 35px;
    }

    &_form_input{
        font-family: inherit;
        border: none;
        width: 288px;
        border-bottom: 1px solid #CACDD8;
        outline: none;
        background: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        color: #000000;
        margin-left: 27px;
    }

    &_form_input::placeholder{
        color: #000000;
    }

    &_form_total{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #000000;
        padding-top: 64px;
       
        &_medium{
            font-weight: 500;
            }
    }

    &_form_button{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        width: 290px;
        height: 41px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        text-align: center;
        box-sizing: border-box;   
        margin-top: 18px;
        margin-left: 45px;
        animation: pulse 2s ease-in 0s 1 normal forwards;
        transition: all .4s;
    }
    &_form_button:hover{
        background-color: #000000;
        color: #FFFFFF;
    }
}

@import 'tablet';
@import 'mobile';